body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: 14px;
	color: #4a4a4a;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}

.btn{border-radius: 0!important;}

.copyright-text {
	text-transform: uppercase;
}

.section-heading {
	margin: 2em 0; 

	.line-dec {
		display: block;
		background-color: $secundary-color;
		height: 5px;
		width: 30px;
	}
	
	h1 {
		font-size: 22px;
		font-weight: 700;
		color: #1e1e1e;	
	}
}

.social-icons {
	margin-bottom: 60px;

	ul li {
		margin: 0px 10px;
	}
	a {
		width: 32px;
		height: 32px;
		color: #fff;
		background-color: #aaa;
		text-align: center;
		display: inline-block;
		line-height: 33px;
		border-radius: 50%;
		font-size: 13px;
		transition: all 0.5s;
		&:hover {
			background-color: $secundary-color;
		}
	} 
}