:root {
--cor-primaria: #0F263A;
--cor-secondaria: #254159;
--botao-alert: #F13D33;
--botao-primary: #419E2A;
--bg-um: #F6DFB9;
--bg-dois: #85C6FF;
--bg-tres: #184D8C;
--bg-quatro: #040F18;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #f5f5f5; 
    font-family: 'Poppins', sans-serif;
}

